:host {
  --_wl-editor_gap: var(--wl-gap, 1rem); /* Increase gap for better spacing */

  display: flex;
  flex-direction: column;
  gap: var(--_wl-editor_gap);
  padding: var(--_wl-editor_gap);
  max-width: 800px; /* Limit the maximum width for better readability */
  margin: 0 auto; /* Center the form on the page */
  
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two-column layout for larger screens */
  gap: var(--_wl-editor_gap);
}

form > * {
  grid-column: span 1; /* Each element spans one column by default */
}

form > md-filled-text-field,
form > md-filled-select,
form > mwc-checkbox {
  width: 100%;
}

@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }
}

.duration-slider,
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--_wl-editor_gap);
}

.actions {
  justify-content: flex-end;
}

.stretch-fill {
  flex: 10 0 0;
}

md-divider {
  margin-bottom: var(--_wl-editor_gap);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}
